@import 'tailwindcss';

@theme {
  --color-accent: #3272b7;

  /* Backgrounds */
  --color-background: #ccdced;
  --color-surface: #ffffff;
  --color-border: #99b9db;
  --color-highlight: #7fa7d2;

  /* Text */
  --color-light: #e6ebf5;
  --color-dark: #111111;

  /* Status */
  --color-success: #32b46e;
  --color-warning: #ffb432;
  --color-error: #ff5a5a;
}

@keyframes custom-bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.animate-custom-bounce {
  animation: custom-bounce 1s infinite;
}